/*#body{
    background-image: url("../image/dice2.gif");
    background: no-repeat;
    background-size: cover;
}
#background {
    background: url("../image/dice.gif");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 0px;
}*/
body {
    background-image: url("../image/pig.jpeg");
    background-repeat:  none;
}

.player-console{
    display: none
}
.jumbotron {
    background-image: url("../image/dice3.jpg");
    background-size: cover;
    color:blue;
}