/*#body{
    background-image: url("../image/dice2.gif");
    background: no-repeat;
    background-size: cover;
}
#background {
    background: url("../image/dice.gif");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 0px;
}*/
body {
    background-image: url("../image/dice3.jpg");
}
.player-console{
    display: none
}
.jumbotron {
    background-image: url("../image/DICE.webp");
    background-size: cover;
    color:whitesmoke;
}

.button {
    color: black;

}